<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Sample App</title>
  </head>
  <body>
    <h2>aaa</h2>

    <p>{{.user.ID}}</p>
    <p>{{.user.Name}}</p>
    <p>{{.user.Age}}</p>

    <form method="POST" action="/update/{{.todo.ID}}">
      <p>
        内容<input type="text" name="text" size="30" value="{{.todo.Text}}" />
      </p>
      <p>
        状態
        <select name="status">
          {{if eq .todo.Status "New"}}
          <option value="New" selected>New</option>
          <option value="Active">Active</option>
          <option value="Done">Done</option>
          {{else if eq .todo.Status "Active"}}
          <option value="New">New</option>
          <option value="Active" selected>Active</option>
          <option value="Done">Done</option>
          {{else}}
          <option value="New">New</option>
          <option value="Active">Active</option>
          <option value="Done" selected>Done</option>
          {{end}}
        </select>
      </p>
      <p><input type="submit" value="Send" /></p>
    </form>
  </body>
</html>
