<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css" media="screen">
      @import url("/assets/css/style.css");
    </style>
    <title>Sample App</title>
  </head>
  <body>
    <h1>ToDoリスト</h1>

    <h2>追加</h2>
    <form method="POST" action="/new">
      <p></p>
      <div>内容</div>
      <div>
        <input
          type="text"
          name="text"
          size="30"
          placeholder="入力してください"
        />
      </div>

      <div>状態</div>
      <div>
        <select name="status">
          <option value="New">New</option>
          <option value="Active">Active</option>
          <option value="Done">Done</option>
        </select>
      </div>

      <p><input type="submit" value="Send" /></p>
    </form>

    <h2>タスク一覧</h2>
    <div>
      {{ range .todos }}
      <div class="todo-item">
        <div class="todo-title">{{ .Text }}</div>
        <div class="todo-status">
          状態: {{ .Status }}
          <label><a href="/detail/{{.ID}}">編集</a></label>
          <label><a href="/delete_check/{{.ID}}">削除</a></label>
        </div>
      </div>
      {{end}}
    </div>
  </body>
</html>
